.DS_Store
*.pidb
*.userprefs
*.project
*.classpath
*.suo
*.user
*.pyc
game/**/bin/
libs/
obj/
gen/
debug/
release/
backup/
data/htdata2432/
/game/wi.xcodeproj/project.xcworkspace/
/game/wi.xcodeproj/xcuserdata/
/DerivedData/
